.ScrollTop {
	background: transparent;
	background-position: center center;
	background-size: 110%;
	border: 1px #dbdbdb solid;
	border-radius: 50%;
	cursor: pointer;
	height: 50px;
	margin: 0;
	opacity: .7;
	overflow: hidden;
	padding: 0;
	width: 50px;

	&:hover {
		border: 1px #FFF solid;
		box-shadow: 0px 2px 13px 0px #FFF;
		opacity: 1;
	}

	&:focus {
		outline: 0;
	}
}
